* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 4rem;
  width: 10rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3px;
  border-radius: 0.4rem;
  outline: none;
  transition: all 0.5s ease-in-out;
}

button:hover {
  height: 10rem;
  width: 10rem;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  color: white;
  background: rgb(207, 61, 90);
}

button:active {
  background: rgb(255, 0, 51);
}
